<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cité Scolaire Lavoisier</title>
    <link rel="icon" type="image/x-icon" href="../images/cs-lavoisier-favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main-container">
        <div class="primary-container">
            <div class="head-container">
                <div class="head-directions-container">
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="/presentation">Présentation</a>
                    </div>
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="/college">Collège</a>
                    </div>
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="/lycee">Lycée</a>
                    </div>
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="CPGE">CPGE</a>
                    </div>
                </div>
                <div class="head-title-icon-container">
                    <img id="head-icon" src="../images/cs-lavoisier-icon.jpg">
                    <h1 id="head-title">Cité Scolaire Lavoisier</h1>
                    <div class="head-title-info">
                        <span>Paris <span style="font-family: Georgia, 'Times New Roman', Times, serif;">5</span>ème</span>
                    </div>
                </div>
                <div class="head-directions-container">
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="/inscription">Inscription</a>
                    </div>
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="/news">News</a>
                    </div>
                    <div class="head-directions-wrapper">
                        <a class="head-directions-text" href="/galerie">Galerie</a>
                    </div>
                </div>
                <div class="head-account-container">
                    <a href="/login" style="text-decoration: none; user-select: none; -webkit-user-drag: none;">
                        <button id="head-account-btn">
                            <img id="head-account-btn-img" src="../images/account-icon.png">
                            <span>Se Connecter</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="direction-card-container-sapcebetween"></div>
            <div class="direction-card-container">
                <div id="direction-card-bg"></div>
                <h1 id="direction-card-mainTitle">EEEEEE</h1>
            </div>
            <div class="mainIllustrationPresentation-container">
                <img id="mainIllustrationPresentation-mainIllustrationPresentation" src="../images/cs-lavoisier-main-img.jpg">
                <h1 id="mainIllustrationPresentation-mainTitlePresentation">Bienvenue à la cité scolaire Lavoisier</h1>
                <span id="mainIllustrationPresentation-mainSubTitlePresentation">Établissement scolaire parisien à succès</span>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
